<h1><%= t('activerecord.views.headings.edit')%></h1>

<%= render 'form', book: @book %>

<%= link_to t('activerecord.views.buttons.show'), @book %> |
<%= link_to t('activerecord.views.buttons.back'), books_path %>
